<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %} NGO {% endblock %}</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="{% static 'ngo/css/style.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #3b7193 !important;">
    <div class="container">
        <a class="navbar-brand" href="#">NGO </a>
        <button aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarsExample07" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage'  %}">Home</a>
                </li>
                {% if request.session.role == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link text-truncate link-management" href="{% url 'listusers'  %}" tabindex="0" data-toggle="tooltip" title="User Management">User Management</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-truncate link-management" href="{% url 'even_list'  %}" tabindex="1" data-toggle="tooltip" title="Event Management">Event Management</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-truncate link-management" href="{% url 'homepage'  %}">User View</a>
                </li>
                {% endif %}


            </ul>
            <!--form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form-->
            <ul class="navbar-nav ml-auto">
                {% if request.session.role == 'admin' %}
                <li class="nav-item">
                    <span class="navbar-text">
                    {% for use in request.session.info_user %}
                        {% if use == 'admin' %}
                        <small>({{ use }})</small>
                        {% else %}
                    {{ use }}
                        {% endif %}
                    {% endfor %}
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login'  %}">Log in</a>
                </li>
                {% endif %}

            </ul>

        </div>
    </div>
</nav>
<div class="container" style="padding-top: 30px;">
    {% block content %}
    {% endblock %}
</div>
<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'ngo/js/client.js' %}"></script>
</body>
</html>