{% extends 'ngo/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Event Management
{% endblock %}

{% block content %}
<div style="max-width: auto; min-width: 420px;">
    <h4>Event Registration</h4>

    {% if object_list %}
    <div class="row">

    {% for event in object_list %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top h-100" src={{event.image.url}} alt="Event Image">
        <div class="card-body">

            <a href="{% url 'event_details' event.id%}" class="justify-content-center">{{event.name}}: {{event.location}}</a>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <h4>No Recorded Events </h4>
    {% endif %}
    </div>
</div>
{% endblock %}
